body {
    display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
	/*margin: 1em 2em;*/
	background-repeat: repeat;
    height: 100%;
}

html, body {
    height: 100%;
}

#text-box {
    width: 100%;
    height: 100%;
}